@page "/EditGastosAdminstractivos"
@page "/EditGastosAdminstractivos/GastoADMID={GastoADMID:int}"
@rendermode InteractiveServer
@inject NavigationManager navigation
@inject GastosADMServices gastosADMServices

<div class="container">
    <div class="card-header">
        <h2>Editar Gasto Administrativo</h2>
    </div>
    <div class="formulario">
        <div class="row mb-3 text-center">
            <div class="col-4">
                <label>Descripción</label>
                <input type="text" class="form-control" @bind="nuevoGasto.GastosADMName" placeholder="Ej. Alquiler" />
            </div>

            <div class="col-4">
                <label>Cuota Mensual</label>
                <input type="number" class="form-control" @bind="nuevoGasto.ValorGastoADM" placeholder="RD.00" />
            </div>
        </div>
        <div class="card-footer d-flex justify-content-center">
            <button class="btn btn-success" @onclick="AgregarGasto">💵 Guardar</button>
        </div>

    </div>
</div>


@code {
	[Parameter]
	public int GastoADMID { get; set; }
    private GastosADM nuevoGasto = new GastosADM();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        nuevoGasto = await gastosADMServices.Buscar(GastoADMID);
    }

    public async void AgregarGasto()
    {
        if (!string.IsNullOrWhiteSpace(nuevoGasto.GastosADMName) && nuevoGasto.ValorGastoADM > 0)
        {
            await gastosADMServices.Crear(nuevoGasto);
            await Task.Delay(1000);
            Volver();

            StateHasChanged();
            await Task.Delay(2000);
        }
    }

    void Volver()
    {
        navigation.NavigateTo("/Gastos_Adminstractivos");
    }

}
