@page "/Gastos_Adminstractivos"
@using TiendaHD.Models
@inject NavigationManager navigation
@rendermode InteractiveServer

<div class="container">
    <div class="card-header">
        <h2>Gastos Administrativos</h2>
        <button class="btn btn-danger" @onclick= "IrACrear">➕ Agregar</button>
    </div>

    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Valor</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var gasto in GastosADMs)
            {
                <tr>
                    <td>@gasto.GastosADMName</td>
                    <td>RD$@gasto.ValorGastoADM.ToString("N2")</td>
                    <td>
                        <button class="btn btn-secondary">👁️</button>
                        <button class="btn btn-primary">✏️</button>
                        <button class="btn btn-danger" @onclick="() => EliminarGasto(gasto.GastosADMId)">🗑️</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <div class="card-header">
        <div class="text-center">
            <strong>Total Gastos Administrativos</strong>
            <h3 class="text-danger">RD$@TotalGastos.ToString("N2")</h3>
        </div>
    </div>



</div>

@code {

    public GastosADM gastosADM = new GastosADM();

    private List<GastosADM> GastosADMs = new()
    {
        new GastosADM { GastosADMId = 1, GastosADMName = "Alquiler", ValorGastoADM = 20000 },
        new GastosADM { GastosADMId = 2, GastosADMName = "Internet", ValorGastoADM = 2200 }
    };

    private float TotalGastos => GastosADMs.Sum(g => g.ValorGastoADM);

    public void EliminarGasto(int Id) { }
    public void IrACrear()
    {
        navigation.NavigateTo("/CreateGastosAdminstractivos");
    }
}