@page "/ViewGastosAdminstractivos"
@page "/ViewGastosAdminstractivos/GastoADMID={GastoADMID:int}"
@rendermode InteractiveServer
@inject NavigationManager navigation
@inject GastosADMServices gastosADMServices

<div class="container">
	<div class="card-header">
		<h2>Ver Gasto Administrativo</h2>
	</div>
	<div class="formulario">
		<div class="row mb-3 text-center">
			<ul>
				<li><strong>Descripci&oacute;n:</strong> @gastoADM.GastosADMName</li>
				<li><strong>Valor:</strong> RD$ @gastoADM.ValorGastoADM.ToString("N2")</li>
			</ul>
		</div>
		<div class="card-footer d-flex justify-content-center">
			<button type="button" class="btn btn-outline-danger" @onclick="Volver"><i class="bi bi-box-arrow-left" /> Volver</button>
		</div>

	</div>
</div>


@code {
	[Parameter]
	public int GastoADMID { get; set; }

	public GastosADM gastoADM { get; set; } = new GastosADM();

	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(500);
		gastoADM = await gastosADMServices.Buscar(GastoADMID);
	}

	void Volver()
	{
		navigation.NavigateTo("/Gastos_Adminstractivos");
	}
}
